*{
  margin: 0;
  padding: 0;
}
.pagination{
	display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
body{
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
#partner-list{
	margin-bottom: 0;
}
#info #password{
	width: calc(75%);
    display: inline-block;
    float: left;
}
#change-password{
	width: calc(20%);
    float: right;
}
@media(max-width: 740px){
	#info #password{
		width: calc(70%);
	}
	#change-password{
		width: calc(25%); 
	}
}
@media(max-width: 600px){
	#info #password{
		width: calc(65%);
	}
	#change-password{
		width: calc(30%); 
	}
}
@media(max-width: 495px){
	#info #password{
		width: calc(60%);
	}
	#change-password{
		width: calc(35%); 
	}
}
.password-check-auth > .input-group > .input-group-append > #auth-button{
	border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0984e3;
    border-color: #0984e3;
}
.register-form{
	padding-top: 45px;
}

.project-list{
	padding-top: 45px;
}
.spinner-border{
	display:none;
}
#field-label{
	display: block;
}
.requirement {
	width: 50%;
}
@media (max-width: 605px){
	.col > select{
		font-size: 10px;
	}
	.recruit{
		margin-top: 0!important;
		line-height: 2!important;
		font-size: 10px;
	}
}
@media (max-width: 500px){
	.col {
		padding-left: 15px;
		padding-right: 0;
	}
}
@media (max-width: 510px){
	#project-list > tbody > tr > td > label{
		width: 53px!important;
	}
	#project-list{
	font-size: 10px;
	}
}

.alarm{
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 15px;
  position: relative;
  background-color: red;
  z-index: 1000;
  border-radius: 12px;
  width: 15px;
  height: 15px;
  left: 81%;
  top: -10px;
}
#message > .glyphicon{
  position: relative;
  right: 135%;
}
#volunteer-modal .modal-body{
	padding-top: 4px;
}
#volunteer-modal .modal-title{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold	
}
#modal-close{
  color: white;
  background-color: #0984e3;
  border-style: none;
}
#modal-close:hover{
  background-color: #1e90ff;
}
#modal-close:focus{
  background-color: #1e90ff;
}
.modal-header{
  font-family: 'Black Han Sans',cursive;
  background-color: #0984e3;
  color: white;
}
.modal-body > .list-group > .list-group-item:hover{
  border: 1px solid #ddd;
}
.modal-title{
  display: inline-block;
}
.modal:not(.show){
  opacity: 0;
}
.modal{
  height: 104%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px);
  transition: opacity .15s linear;
  background-color: rgba(0,0,0,0.5);
}
.password-check-auth > .input-group{
    display: inline-flex;
    width: 310px;
}
.partner-limit > .form-group{
  float: left;
  display:inline-block;
  width:calc(88%);
}
@media(max-width: 1070px){
	.partner-limit > .form-group{
	  width:calc(83%);
	}
	.partner-limit-check{
	  width:calc(15%)!important;
	}
}
@media(max-width: 800px){
	.partner-limit > .form-group{
	  width:calc(78%);
	}
	.partner-limit-check{
	  width:calc(20%)!important;
	}
}
@media(max-width: 625px){
	.partner-limit > .form-group{
	  width:calc(75%);
	}
	.partner-limit-check{
	  width:calc(20%);
	}
}

.partner-limit-check{
  float: right;
  display: inline-block;
  width:calc(10%);
}
.recruit{
  line-height: 1.3;
  margin-top: 8px;
  display: inline-block;
}
.register-field{
  margin-top: 20px;
}
.register-field > table, .register-language > table{
  font-size: 13px;
}
.new > .register-form > #field-label{
	margin-top:8px;
}
.new > .register-form{
  overflow-x: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  position: absolute;
  width: 80%;
  text-align: center;
  left:10%;
  padding-top: 55px;
  overflow-y: hidden;
}

.new > .register-form > label{
  display: block;
}
.new > .register-form > .form-group {
    width: 100%;
    display: inline-block;
}
.new > .register-form > .table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}
.disable{
  background-color: #95a5a6;
}

#project{
  padding-top: 45px;
}
.apply{
  color: white;
  background-color: #0984e3;
  border-style: none;
  width: 85px;
  height:45px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: .3rem;
}
.apply:hover{
  color: white;
  background-color: #1e90ff;
}
.apply:focus{
  color: white;
  background-color: #1e90ff;
}
.project-body > .list-group{
  width: 90%;
  display: inline-block;
}
.field-language{
  margin-top: 5px;
  word-spacing: 15px;
  width: 90%;
  display: inline-block;
}
.modal-body > .field-language{
  margin-top: 0px;
}
.volunteer-list > h1{
  font-family: 'Black Han Sans',cursive;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  margin-top: -15px;
}
.project-body > table > thead > tr > th, .project-body > table > tbody > tr > th,
.project-body > table > tfoot > tr > th, .volunteer-list > table > tbody > tr > th,
.volunteer-list > table > tfoot > tr > th, .volunteer-list > table > thead > tr > th,
.register-form > .table > tbody > tr > th > .from-check, table > thead > tr > th,
table > tbody > tr > th{
  text-align: center;
}
#project-list > tbody > tr > td > label, .field-language > label,
.project-body > table > tbody > tr > td > label, .volunteer-list > table > tbody > tr > td > label{
  text-align: center;
  width: 75px;
  background-color: #0984e3;
  color: white;
  border-radius: 10px;
  background-size: cover;

}

.approval{
  height: 25px;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border: 1px solid transparent;
  color: white;
  width: 50px;
  font-size: 14px;
}
.approval:hover{
  background-color: #449d44;
  border-color: #398439;
}
.reject{
  height: 25px;
  background-color: #d9534f;
  border-color: #d9534f;
  border: 1px solid transparent;
  color: white;
  width: 50px;
  font-size: 14px;
}
.reject:hover{
  background-color: #c9302c;
  border-color:#ac2925;
}
.project-body{
  margin-bottom: -15px;
}

.project-body > table > tbody > tr > .ability{
	width: 50%;
}
.volunteer-list > table > tbody > tr > .ability{
	width: 39%;
}
@media(max-width: 540px){
	.volunteer-list > table > tbody > tr > .ability{
		width: 36%;
	}
}
.project-body > table, .volunteer-list > table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.volunteer-list > table {
  margin-bottom: 0;
}
#volunteer-pagination{
  margin-bottom: 15px;
}
@media(max-width: 480px){
	.project-body > table {
	  font-size: 10px;
	}
	.project-body > table > tbody > tr > td > label{
	  width: 55px;
	}
	.volunteer-list > table > tbody > tr > td > label{
	  width: 55px;
	
	}
	.volunteer-list > table {
	  font-size: 10px;
	}
}

.project-body > .form-group > .form-control{
  display: inline-block;
  width: 90%;
  resize: vertical;
}
.project-head{
  margin-top: -15px;
  margin-bottom: 30px;
}
.leader{
  margin-left:5%;
  float: left;
  font-weight: bold;
}
.deadline{
  float: right;
  margin-right:5%;
  font-weight: bold;
}
#project > h1{
  font-family: 'Black Han Sans',cursive;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
#memo-label{
  display:block;
}
#memo-form{
  margin-bottom: 10px;
}
.mypage{
  text-align: center;
  padding-top: 75px;
}
.menu{
  width: 70%;
  display: inline-block;
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #0984e3;
}
.name{
  font-family: 'Noto Sans KR', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.name > h1{
  color: white;
  font-size: 40px;
  font-weight: bold;
}
@media(max-width: 590px){
	.name > h1{
	  font-size: 25px;
	}
}
.menu:hover{
  background-color: white;
  border-color: #0984e3;
  border-style: solid;
}
.menu:hover > .name > h1{
  color: black;
}
#back{
  margin-top: 10px;
}
@media(max-width: 475px){
	.pagination>li>a{
		padding: 6px 8px;
	}
}
#user-register, #view, #info{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  text-align: center;
}
.register-form > #register, #update{
  float: none;
  display: flex;
  margin: auto;
}
#register{
  color: white;
  background-color: #0984e3;
  border-style: none;
}
#register:hover{
  background-color: #1e90ff;
}
#register:focus{
  background-color: #1e90ff;
}
.register-form > .input-group{
  margin-top: 15px;
  width: 80%;
  display: inline-flex;
}
.register-form > .form-group{
  width: 80%;
  display: inline-block;
}
.register-form > .auth >.form-group{
  width: 80%;
  display: inline-block;
}
.auth{
    margin-bottom: 10px;
}
@media(min-width: 400px){
	.auth >.form-group >.form-control{
    float: left;
    width: calc(82%);
    display: inline-block;

	}
}
@media(min-width: 850px){
	.auth >.form-group >.form-control{
    float: left;
    width: calc(90%);
    display: inline-block;

	}
}
@media(max-width:670px){
	.register-form > .table > tbody > tr > th{
		padding-left: 0!important;
    	padding-right: 0!important;
	}
	.form-check >.form-check-label{
	  font-size:10px;
	}
}
.register-form > .table > tbody > tr > th{
	text-align: left;
}
.register-form > .table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px; 
}
.register-form > #field{
  margin-left: 45px;
  float: left;
  width: 100%;
  display: inline-flex;
}
.register-form > .fieldCheck{
  width: 80%;
}
.register-form > .fieldCheck> .form-check{
  display: initial;
  margin-left: 14px;
}
.form-group > #auth-button{
  float:right;
}
#register{
  float: right;
  margin-right: 10px;
}
.logo{
  text-align: center;
  padding-top: 109px;
}
.login{
  text-align: center;
  padding-top: 20px;
}
.login > .input-group{
  display: inline-flex;
  width: 310px;
}
#search > .glyphicon-search{
  color: black;
}
#password, .login #password-check{
  display: unset;
  width: 310px;
}
.button > button{
  margin-top: 5px;
}
#save{
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  display: none;
}
#search-input{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: none;
  font-size: 11.5px;
}
.sidemenu{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  display: block;
  background-color: #0984e3;
  position: fixed;
  height: 100%;
  width: 0%;
  z-index: 5;
  text-align: center;
}
.input-group-btn > .btn[disabled]{
  opacity: 100;
}
.language{
  height: 42%;
}
.language >  .list-group{
  height: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.language >  .list-group:hover{
  overflow-y: scroll;
}
.sidemenu > .btn{
  margin: 5px;
}
.menu-label{
  font-size: 16px;
  display: none;
}
.sidemenu > .language > .list-group > .list-group-item{
  color: white;
  border-color: #0984e3;
  background-color: #0984e3;
}
.sidemenu > .language > .list-group > .list-group-item:hover, .sidemenu > .language > .list-group > .list-group-item.active{
  color: black;
  background-color: white;
  border-color: white;
}
a.list-group-item{
  color: white;
}
nav{
  width: 100%;
  display: inline-block;
  height: 0%;
}
header{
  z-index: 10;
  height: 45px;
  background-color: #0984e3;
  position: fixed;
  width: 100%;
  text-align: center;
  line-height: 45px;
}
header > .btn{
  height: 100%;
  background-color: #0984e3;
  border-color: #0984e3;
}
header > .btn:hover{
  height: 100%;
  background-color: #1e90ff;
  border-color: #1e90ff;
}

header > .btn:focus{
  background-color: #1e90ff;
  border-color: #1e90ff;
}
header > .btn + h1{
  position: relative;
  right: 20px;
}
header > h1{
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  font-family: 'Black Han Sans',cursive;
  margin: 0;
  height: 0%;
  color: white;
}
.btn > .glyphicon{
  color: white;
}
.table{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}
header > #left{
  float: left;
}
header > #right{
  float: right;
}
header > #message{
  float: right;
  width: 40px;
}
th{
  text-align: center;
}
footer{
  text-align: center;
}
