<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="kr.ac.smu.cs.comnet.mapper.BoardMapper">
    	<select id="selectList" resultType="BoardVO">
    		SELECT @rownum:=@rownum+1 as rowNum, Board.* FROM Board,
    		(SELECT @rownum:=0)r;
    	</select>
		<insert id="register">
			INSERT INTO Board(title, content, deadline, partner_limit, contact, reg_date, uid)
			VALUES(#{title}, #{content}, #{deadline}, #{partner_limit}, #{contact}, #{reg_date}, #{uid})
		</insert>
		<select id="select" resultType="int">
			SELECT bid FROM Board where reg_date=#{reg_date}
		</select>
    </mapper>