<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="kr.ac.smu.cs.comnet.mapper.FieldMapper">
    	<select id="selectList" resultType="FieldVO">
    		SELECT * FROM Field
    	</select>
    	<select id="selectBoardField" resultType="FieldVO">
    		SELECT Field.fid, fname FROM Field, conn_bf
    		WHERE conn_bf.bid=#{bid} AND conn_bf.fid=Field.fid
    	</select>
    	<insert id="registerUserField">
    		INSERT conn_uf
    		VALUES(#{uid},#{fid})
    	</insert>
    </mapper>